* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #020617;
  position: sticky;
  top: 0;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
  color: #22c55e;
  font-size: 26px;
}

header nav a {
  color: #e5e7eb;
  margin-left: 25px;
  text-decoration: none;
  font-weight: 600;
}

header nav a:hover {
  color: #22c55e;
}

/* HERO */
.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background: linear-gradient(135deg, #4f46e5, #22c55e);
}

.hero-text {
  max-width: 600px;
}

.hero h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background: #020617;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #111827;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
}

.section h3 {
  font-size: 32px;
  margin-bottom: 20px;
}

.section.alt {
  background: #020617;
}

/* SKILLS */
.skills {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skill {
  background: #22c55e;
  color: black;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: 600;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.project {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.project:hover {
  transform: translateY(-8px);
}

.project h4 {
  margin-bottom: 10px;
  color: #23d464;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  .hero {
    padding: 60px 30px;
  }

  .section {
    padding: 60px 30px;
  }
}
